# SMTP server (e.g. smtp.gmail.com, smtp.sendgrid.net)
EMAIL_HOST=smtp.gmail.com
# Default sender email shown to recipients
EMAIL_FROM=your-email@example.com
# Login used to authenticate with SMTP server
EMAIL_HOST_USER=your-email@example.com
# Password or App Password
EMAIL_HOST_PASSWORD=your-app-password
# SMTP port (587 = TLS, 465 = SSL)
EMAIL_PORT=587

DJANGO_SECRET_KEY=your-django-secret-key

POSTGRES_HOST=db
POSTGRES_DB=postgres_db
POSTGRES_USER=simple_user
POSTGRES_PASSWORD=simple_password